@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url("../../assets/img/bg.png");
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ebeb), to(#fffdfd));
  background: linear-gradient(180deg, #f8ebeb, #fffdfd);
  border: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2b7b7), to(#e9bdbd));
  background: linear-gradient(180deg, #e2b7b7, #e9bdbd);
}

header {
  font-family: "Poppins", sans-serif;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  width: 100%;
  padding: 25px 250px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(37.5px);
          backdrop-filter: blur(37.5px);
}
header .logo {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
main .sectionOne .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  height: 100vh;
}
main .sectionOne .main-content h2 {
  color: #000;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main .sectionOne .main-content h2 span {
  background: -webkit-gradient(linear, left top, right top, from(#FF3C3C), to(#4A5AE6));
  background: linear-gradient(90deg, #FF3C3C 0%, #4A5AE6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .sectionOne .main-content p {
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
}
main .sectionOne .footer-content {
  margin-bottom: 50px;
}
main .sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
main .sectionTwo .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .sectionTwo .text h2 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .sectionTwo .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  gap: 45px;
  width: 100%;
}
main .sectionTwo .content div h2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .sectionTwo .content div p {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  width: 1120px;
}
main .sectionTree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  width: 100%;
}
main .sectionTree .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .sectionTree .text h2 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .sectionTree .wrapperOne {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  gap: 140px;
}
main .sectionTree .wrapperOne .discord, main .sectionTree .wrapperOne .github {
  width: 490px;
  height: 583px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
main .sectionTree .wrapperOne .discord .content, main .sectionTree .wrapperOne .github .content {
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .sectionTree .wrapperOne .discord .content h2, main .sectionTree .wrapperOne .github .content h2 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .sectionTree .wrapperOne .discord .content img, main .sectionTree .wrapperOne .github .content img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  width: 275px;
  height: 275px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .sectionTree .wrapperOne .discord .content a, main .sectionTree .wrapperOne .github .content a {
  text-decoration: none;
  color: #0085FF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
main .sectionTree .wrapperTwo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 75px;
}
main .sectionTree .wrapperTwo .telegram {
  height: 500px;
  width: 1120px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
main .sectionTree .wrapperTwo .telegram .content {
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}
main .sectionTree .wrapperTwo .telegram .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
main .sectionTree .wrapperTwo .telegram .content .info h2 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .sectionTree .wrapperTwo .telegram .content .info a {
  text-decoration: none;
  color: #0085FF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
}
main .sectionTree .wrapperTwo .telegram .content img {
  width: 275px;
  height: 275px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 250px;
  padding-bottom: 50px;
}
footer p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 428px) {
  header {
    padding: 25px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header ul {
    display: none;
  }
  main .sectionOne {
    padding: 0 16px;
  }
  main .sectionOne .main-content h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  main .sectionOne .main-content p {
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  main .sectionTwo {
    margin-top: 50px;
  }
  main .sectionTwo .text {
    text-align: center;
  }
  main .sectionTwo .content {
    padding: 0 16px;
    margin-top: 50px;
  }
  main .sectionTwo .content div p {
    width: 100%;
  }
  main .sectionTree {
    margin-top: 50px;
    padding: 0 16px;
  }
  main .sectionTree .text {
    text-align: center;
  }
  main .sectionTree .wrapperOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    width: 100%;
  }
  main .sectionTree .wrapperOne .discord, main .sectionTree .wrapperOne .github {
    width: 100%;
    height: 500px;
  }
  main .sectionTree .wrapperOne .discord .content, main .sectionTree .wrapperOne .github .content {
    padding: 40px 30px;
  }
  main .sectionTree .wrapperOne .discord .content img, main .sectionTree .wrapperOne .github .content img {
    margin-top: 25px;
  }
  main .sectionTree .wrapperOne .discord .content a, main .sectionTree .wrapperOne .github .content a {
    margin-top: 18px;
  }
  main .sectionTree .wrapperTwo {
    width: 100%;
    margin-top: 25px;
  }
  main .sectionTree .wrapperTwo .telegram {
    width: 100%;
    height: 500px;
  }
  main .sectionTree .wrapperTwo .telegram .content {
    padding: 40px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .sectionTree .wrapperTwo .telegram .content img {
    margin-top: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 275px;
    height: 275px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .sectionTree .wrapperTwo .telegram .content .info a {
    margin-top: 18px;
  }
  footer {
    margin-top: 50px;
    padding-bottom: 25px;
  }
}
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: -webkit-gradient(linear, left top, left bottom, from(#252525), to(#0c0c0c));
    background: linear-gradient(180deg, #252525, #0c0c0c);
    border: none;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#2c2c2c));
    background: linear-gradient(180deg, #242424, #2c2c2c);
  }
  body {
    background-color: #0d0d0d;
  }
  header {
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(37.5px);
            backdrop-filter: blur(37.5px);
  }
  header .logo {
    color: #fff;
  }
  header ul li a {
    color: #fff;
  }
  main .sectionOne .main-content h2, main .sectionOne .main-content p {
    color: #fff;
  }
  main .sectionOne .footer-content img {
    content: url("../../assets/img/arrow2.svg");
  }
  main .sectionTwo .text h2 {
    color: #fff;
  }
  main .sectionTwo .content div p {
    color: #fff;
  }
  main .sectionTwo .content div h2 {
    color: #fff;
  }
  main .sectionTree .text h2 {
    color: #fff;
  }
  main .sectionTree .wrapperOne .discord, main .sectionTree .wrapperOne .github {
    background-color: #141414;
  }
  main .sectionTree .wrapperOne .discord .content h2, main .sectionTree .wrapperOne .github .content h2 {
    color: #fff;
  }
  main .sectionTree .wrapperTwo .telegram {
    background-color: #141414;
  }
  main .sectionTree .wrapperTwo .telegram .content .info h2 {
    color: #fff;
  }
  footer p {
    color: #fff;
  }
}
