

.hero {
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 91%;

    text-align: center;
    letter-spacing: 0.031em;
    text-transform: uppercase;
}
.hero__desc {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.03em;
    text-align: center;
}

.hero__subtitle {
    margin-top: 250px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;

    letter-spacing: 0.465em;
    text-transform: uppercase;
}

.telegram-card {
    padding: 30px;
    position: absolute;
    width: fit-content;
    background: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(4px);
    right: 120px;
    border-radius: 24px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 20;
    bottom: -20px;
}

.telegram-card__title {
    font-weight: 600;
    font-size: 18px;

    letter-spacing: -0.005em;
}
.telegram-card__desc {
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;

    letter-spacing: -0.005em;
}
.telegram-card__button {
    z-index: 4;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 130%;
    background-color: #1F78FF;
    border-radius: 24px;
    padding: 8px 15px;
    width: fit-content;
    color: #fff;
    text-decoration: none;

    letter-spacing: -0.005em;
}
#close-notification {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 14px;
    top: 14px;
    background-color: transparent;
    color: #fff;
    opacity: 0.8;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    border: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 200px;
}

.wrapper-block {
    max-width: 640px;
    width: 100%;
}
.wrapper-block:nth-child(2) {
    margin-left: auto;
}
.wrapper-block:nth-child(4) {
    margin: auto;
}

.wrapper__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 30px;
    max-width: 380px;
    width: 100%;

    letter-spacing: 0.02em;
}
.wrapper__desc {
    margin-top: 20px;
}

/* -------------- */
/* MOBILE */
/* -------------- */

@media (max-width: 768px) {
    .wrapper {
        padding: 0 40px;
    }
}

@media (max-width: 1360px) {
    .telegram-card {
        margin: 0 auto;
        position: relative;
        right: 0;
        max-width: 700px;
        width: 100%;
    }
}